<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishelly Idx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/blog-index.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header >
            <div class="col-md-offset-1 col-md-10 ">
                <h1 class="blog-head-title">
                     Idx.
                </h1>
                <form class="form-inline search-box hidden-xs">
                    <div class="form-group  has-feedback">
                        <input type="text" class="form-control" id="search" placeholder="搜索">
                        <label for="search" style="cursor: pointer"><span
                                class="glyphicon glyphicon-search form-control-feedback"></span></label>
                    </div>
                </form>
            </div>
        </header>
        <article class="col-sm-12 col-md-7 col-md-push-4   article-box">
            <div class="new-article-box">
                <h2 class="article-box-title">
                    我是标题.
                </h2>
                <div class="article-box-sample">
                    <div>
                        <p class="about-msg ">文章内容简介文章内容简介文章内容简介文章内容简介</p>
                    </div>
                    <div>
                        <p class="about-msg"><span>→</span><a href="#">阅读全文</a></p>
                    </div>
                    <div class="article-box-type about-msg">
                        <span>分类:</span><a href="#">我是分类</a><span>←</span>
                    </div>
                </div>
                <div class="article-box-post about-msg">
                    发表于：<span>xxx</span>&nbsp;<span>2016-09-19</span>
                </div>
            </div>
            <div class="new-article-box">
                <h2 class="article-box-title">
                    近期文章.
                </h2>
                <ul class="about-msg">
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article1</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article2</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article3</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article4</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article5</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article6</a></li>
                    <li><span>2016-09-19</span><span>&nbsp;&nbsp;→&nbsp;&nbsp;</span><a href="#">article7</a></li>
                </ul>
                <div class="type-detail about-msg">
                    <span>→</span><a  href="#">查看更多...</a>
                </div>
            </div>
        </article>
        <nav class="col-sm-12  col-md-3 col-md-pull-6   left-bar">
            <div class="left-box  col-sm-5 col-md-12  col-lg-10">
                <div class="left-box-title">
                    <span>分类.</span>

                </div>
                <ul>
                    <li><a href="#">type1</a></li>
                    <li><a href="#">type2</a></li>
                    <li><a href="#">type3</a></li>
                    <li><a href="#">type4</a></li>
                    <li><a href="#">type5</a></li>
                    <li><a href="#">type6</a></li>
                    <li><a href="#">type7type7type7type7type7</a></li>
                </ul>
                <div class="type-detail">
                    <span>→</span><a  href="#">详情</a>
                </div>
            </div>

            <div class="left-box col-sm-offset-2 col-sm-5 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-10">
                <div class="left-box-title">关于.</div>
                <div class="img-head"></div>
                <p class="about-msg">
                    some of my message, introduce me.
                </p>
                <p class="about-msg">follow me:</p>
                <ul>
                    <li><a href="#">github</a></li>
                    <!--<li><a href="#">github</a>&nbsp;&nbsp;&nbsp;<a href="#">微博</a></li>-->
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>