* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

body {
    background: #ebebeb;
    padding-bottom: 0.25rem;
}

header {
    position: fixed;
    width: 100%;
    background: #FFF;
    height: 0.6rem;
    border-bottom: 1px solid #e1e1e1;
    z-index: 36;
}

.blog-head-title {
    float: left;
    margin-top: 0.1rem;
}

.search-box {
    margin-top: 0.13rem;
    float: right;
}

.left-box {
    padding: 0 0.1rem 0.1rem 0.1rem;
    margin-bottom: 0.25rem;
    border-radius: 0.2rem;
    background-color: #FFF;
}

.left-box-title {
    padding: 0.15rem 0 0.1rem 0;
    font-size: 0.2rem;
    font-weight: bold;
    border-bottom: 1px #e1e1e1 solid;
}

ul {
    margin-left: 0.15rem;
    list-style-position: inside;
}

ul li {
    height: 0.35rem;
    line-height: 0.35rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-article-box {
    padding: 0.1rem 0.1rem 0.3rem 0.1rem;
    overflow: hidden;
    margin-bottom: 0.25rem;
    background-color: #FFF;
    border-radius: 0.2rem;
}
.article-box-sample{
    overflow: hidden;
    border-bottom: 1px #e1e1e1 solid;
    padding-bottom: 0.1rem;
}
.article-box-title{
    padding-bottom: 0.1rem;
    border-bottom: 1px #e1e1e1 solid;
}
.article-box-type{
    float: right;
}
.article-box-post{
    padding-top: 0.1rem;
    float: left;
    width: 100%;
}
.img-head {
    border: 1px solid #d6b2e1;
    position: relative;
    left: 50%;
    margin: 0.1rem 0 0.05rem -0.35rem;
    border-radius: 0.7rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: pink;
}
.about-msg{
    font-size: 0.17rem;
}
.type-detail{
    float: right;
    margin-right: 0.15rem;
}
.border-shadow{
    -webkit-box-shadow: 0 0 0.1rem #4e4e4e;
    -moz-box-shadow: 0 0 0.1rem #4e4e4e;
    box-shadow: 0 0 0.1rem #4e4e4e;
}

.type-title{
    box-sizing: border-box;
    padding: 0.1rem 0.1rem 0 0.3rem;
}
h2,h4{
    border-bottom: 1px solid #d1d1d1;
    padding: 0.1rem 0;
}

.type-article-list{
    background-color: #FFF;
    margin-top: 0.3rem;
    padding-left: 0.3rem;
}

.last-article {
    flex: 1;
}

.next-article {
    flex: 1;
    text-align: right;
}

.article-type {
    flex: 1;
    text-align: center;
}

.article-type-header {
    padding: 0.1rem 0.3rem 0 0.3rem;
    display: flex;
}

.article-detail {
    margin-top: 0.1rem;
}
.relative-article{

    height: 0.6rem;
}
.relative-article>p{
    padding-left: 0.3rem;
}
.leave-msg-item{
    padding:0 0 0.1rem 0.3rem;

}
.leave-msg-content{
    padding:0 0.15rem;
}
.leave-msg-other{
    text-align: right;
    font-size: 0.14rem;
    padding:0 0.2rem 0.1rem 0;
    border-bottom: 1px #c6c6c6 solid;
}
.msg-reference{
    padding:0 0.25rem;
    background-color: #e1e1e1;
    margin:0 0.2rem;
}
.public-msg{
    padding:0 0.3rem 0.2rem 0;

}
.comment{

}
.comment>textarea{
    height: 1rem;
}
.left-function{
    background-color: #FFF;
    position: fixed;
    width: 100%;
    height: 0.3rem;
    z-index: 35;
}

@media (min-width:992px) {
    .left-function-position{
        width:0.4rem;
        height: 100%;
        padding: 1rem 0.1rem 0 0.1rem;

    }
    .content-box{
        margin-top: 0.85rem;
    }

    .left-function>div>a{
        display: inline-block;
        line-height: 0.4rem;
        width: 0.4rem;
        height: 0.4rem;
        margin-bottom: 0.1rem;
    }
    .login-nav{
        position: absolute;
        bottom: 0.4rem;
    }

    .fc-item-index:hover:after{
        content: "主页";
        display: inline-block;
        width: 0.4rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-blog:hover:after{
        content: "博客";
        display: inline-block;
        width: 0.4rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-type:hover:after{
        content: "分类";
        display: inline-block;
        width: 0.4rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-article:hover:after{
        content: "文章";
        display: inline-block;
        width: 0.4rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-user:hover:after{
        content: "个人资料";
        display: inline-block;
        width: 0.6rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-articleMan:hover:after{
        content: "文章管理";
        display: inline-block;
        width: 0.6rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-typeMan:hover:after{
        content: "分类管理";
        display: inline-block;
        width: 0.6rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
    .fc-item-comment:hover:after{
        content: "评论管理";
        display: inline-block;
        width: 0.6rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }
}
@media (max-width:991px){
    .left-function-position{
        margin-top: 0.59rem;
        line-height: 0.35rem;
        border-bottom: 1px solid #e1e1e1;
    }
    .normal-nav{
        float: left;
    }
    .login-nav{
        float: right;
    }
    .content-box{
        margin-top: 1.15rem;
    }
    .left-function>div>a{
        display: inline-block;
        line-height: 0.3rem;
        width: 0.3rem;
        height: 0.3rem;
    }
    .normal-nav>a{
        margin-left: 0.3rem;
        margin-right: 0;
    }
    .login-nav>a{
        margin-left: 0;
        margin-right: 0.3rem;
    }
}




.fc-item{
    display: inline-block;
    font-size: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;

}



.ease1{
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    -ms-transition: All 1s ease;
    transition: All 1s ease;
}
.ease2{
    -webkit-transition: All 2s ease;
    -moz-transition: All 2s ease;
    -o-transition: All 2s ease;
    -ms-transition: All 2s ease;
    transition: All 2s ease;
}