* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

body {
    background: #ebebeb;
    padding-bottom: 0.25rem;
}

header {
    position: fixed;
    width: 100%;
    background: #FFF;
    height: 0.6rem;
    border-bottom: 1px solid #e1e1e1;
    z-index: 36;
}

.blog-head-title {
    float: left;
    margin-top: 0.1rem;
    background-color: #FFF;
}

.search-box {
    margin-top: 0.13rem;
    float: right;
}

.search-input {
    float: left;
    border-radius: 4px 0 0 4px;
}

.search-input:focus {

}

.search-btn {
    padding: 6.2px 12px;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

.left-box {
    padding: 0 0.1rem 0.1rem 0.1rem;
    margin-bottom: 0.25rem;
    border-radius: 0.05rem;
    border: 1px solid #d8d8d8;
    background-color: #FFF;
}

.left-box-title {
    padding: 0.15rem 0 0.1rem 0;
    font-size: 0.2rem;
    font-weight: bold;
    border-bottom: 1px #e1e1e1 solid;
}

.ulist {
    margin-left: 0.15rem;
    list-style-position: inside;
}

.ulist li {
    height: 0.35rem;
    line-height: 0.35rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-article-box {
    overflow: hidden;
    margin-bottom: 0.25rem;
    background-color: #FFF;
    border-radius: 0.05rem;
    border: 1px solid #d8d8d8;
}

.article-box-sample {
    padding: 0.1rem;
    overflow: hidden;
    border-bottom: 1px #e1e1e1 solid;
}

.article-box-title {
    padding: 0.1rem;
    border-bottom: 1px #e1e1e1 solid;
}

.article-box-type {
    float: right;
}

.article-box-post {
    padding: 0.1rem;
    float: left;
    width: 100%;
}

.btn-read-more {
    border-radius: 0;
    padding: 0.03rem 0.12rem;
}

.article-read-more {
    float: left;
}

.article-bottom-box {
    margin-top: 0.06rem;
    float: right;
    line-height: 0.17rem;
}

.article-bottom-box > div {
    color: #616161;
    float: left;
    margin-left: 0.15rem;
}

.article-bottom-box > div > span {

}

.img-head {
    margin: 0.2rem;
    border-radius: 0.7rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: pink;
    float: left;
}

.article-font-img {
    width: 100%;
    height: 1.8rem;
    background-color: #00aaff;
}

.msg-box {
    padding: 0.25rem 0.1rem;
}

.about-msg {
    font-size: 0.17rem;
}

.about-msg-md {
    font-size: 0.15rem;
}

.about-msg-sm {
    font-size: 0.1rem;
}

.about-msg-ss {
    font-size: 0.13rem;
}

.about-msg-xl {
    font-size: 0.2rem;
}

.about-msg-xll {
    font-size: 0.25rem;
}

.type-detail {
    float: right;
    margin-right: 0.15rem;
}

.border-shadow {
    border: 1px solid #d8d8d8;
}

.type-title {
    box-sizing: border-box;
    padding: 0.1rem 0.1rem 0 0.3rem;
}

h2, h4 {
    border-bottom: 1px solid #d1d1d1;
    padding: 0.1rem 0;
}

.type-article-list {
    background-color: #FFF;
    margin: 0.3rem 0;
    padding-left: 0.3rem;
}

.last-article {
    flex: 1;
}

.next-article {
    flex: 1;
    text-align: right;
}

.article-type {
    flex: 1;
    text-align: center;
}

.article-type-header {
    padding: 0.1rem 0.3rem 0 0.3rem;
    display: flex;
}

.blog-nav {
    background-color: #FFF;
}

.article-detail {
    margin-top: 0.1rem;
}

.relative-article {

    height: 0.6rem;
}

.relative-article > p {
    padding-left: 0.3rem;
}

.leave-msg-item {
    padding: 0 0 0.1rem 0.3rem;

}

.leave-msg-content {
    padding: 0 0.15rem;
}

.leave-msg-other {
    text-align: right;
    font-size: 0.14rem;
    padding: 0 0.2rem 0.1rem 0;
    border-bottom: 1px #c6c6c6 solid;
}

.msg-reference {
    padding: 0 0.25rem;
    background-color: #e1e1e1;
    margin: 0 0.2rem;
}

.public-msg {
    padding: 0 0.3rem 0.2rem 0;

}

.search-bar {
    overflow: hidden;
}

.comment {
    border-bottom: 1px solid #B6B6B6;
    padding-bottom: 0.1rem;
}

.comment > textarea {
    height: 1rem;
}

.comment-btn {
    float: right;
    margin-right: 0.5rem;
}

.left-function {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    height: 0.3rem;
    z-index: 35;
}

.tag-list {
    padding: 0.1rem;
}

.tag {
    padding: 0.025rem 0.05rem;
    border-radius: 0.08rem;
    margin: 0.05rem;
}

@media (min-width: 992px) {
    .left-function-position {
        width: 0.4rem;
        height: 100%;
        padding: 1rem 0 0 0;

    }

    .bootom-function {
        height: 50%;
        bottom: 0;
    }

    .content-box {
        width: 100%;
        position: absolute;
        margin-top: 0.85rem;
    }

    .left-function > div > a {
        text-align: center;
        display: block;
        line-height: 0.4rem;
        width: 0.4rem;
        height: 0.4rem;
        margin-bottom: 0.1rem;
    }

    .login-nav {
        position: absolute;
        bottom: 0.3rem;
    }

    .fc-item-index:hover:after, .fc-item-blog:hover:after, .fc-item-type:hover:after,
    .fc-item-user:hover:after, .fc-item-articleMan:hover:after, .fc-item-typeMan:hover:after, .fc-item-comment:hover:after {
        content: "主页";
        display: inline-block;
        width: 0.55rem;
        height: 0.2rem;
        background-color: #bfbfbf;
        position: absolute;
        float: right;
        margin-left: 0.15rem;
        line-height: 0.15rem;
        font-size: 0.12rem;
        border-radius: 0.05rem;
        text-align: center;
        font-weight: bold;
    }

    .fc-item-blog:hover:after {
        content: "博客";
    }

    .fc-item-type:hover:after {
        content: "分类标签";
    }

    .fc-item-user:hover:after {
        content: "个人资料";
    }

    .fc-item-articleMan:hover:after {
        content: "文章管理";
    }

    .fc-item-typeMan:hover:after {
        content: "分类管理";
    }

    .fc-item-comment:hover:after {
        content: "评论管理";
    }
}

@media (max-width: 991px) {
    .left-function-position {
        margin-top: 0.59rem;
        line-height: 0.35rem;
        border-bottom: 1px solid #e1e1e1;
        padding: 0;
    }

    .content-box {
        margin-top: 1.45rem;
    }

    .normal-nav, .login-nav {
        font-size: 0;
        height: 0.35rem;
        background-color: #fff;
    }

    .normal-nav > a, .login-nav > a {
        display: inline-block;
        line-height: 0.3rem;
        width: 32.8%;
        height: 0.3rem;
        text-align: center;
    }

    .normal-nav > a:nth-child(2), .login-nav > a:nth-child(3) {
        border-right: 1px solid #e1e1e1;
        border-left: 1px solid #e1e1e1;

    }

    .login-nav {
        border-top: 1px solid #e1e1e1;
    }

    .login-nav > a:nth-child(2) {
        border-left: 1px #e1e1e1 solid;
    }

    .login-nav > a {
        width: 24.3%;
    }

    .bootom-function {
        margin-top: 0.94rem;
    }
}

.fc-item {
    margin-top: 0.07rem;
    display: inline-block;
    font-size: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;

}

.ease1 {
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    /*-ms-transition: All 1s ease;*/
    transition: All 1s ease;
}

.ease2 {
    -webkit-transition: All 2s ease;
    -moz-transition: All 2s ease;
    -o-transition: All 2s ease;
    /*-ms-transition: All 2s ease;*/
    transition: All 2s ease;
}

.personal-box {
    background-color: #FFF;
    height: auto;
    padding: 0.1rem;
    margin-bottom: 0.3rem;
    overflow: hidden;
}

.fix-float {
    overflow: hidden;
}

.fix-tag {
    padding: 0 0.3rem 0 0;
}

.info-box-top {
    width: 50%;
}

.user-img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #00aaff;
    position: absolute;
    right: 25%;
    top: 0;
    margin-top: 0.5rem;
    margin-right: -0.75rem;
}

.upload-btn {
    opacity: 0;
}

.article-btn-group {
    float: right;
    margin-right: 0.15rem;
}

.article-btn-group button {
    color: #393939 !important;
}

.article-list-btn {
    padding: 0.02rem 0.07rem;
    font-size: 0.12rem;
}

.title-text {
    display: inline-block;
}

th, td {
    text-align: center !important;
    background-color: #FFF;
!important;
}

.article-btn-add {
    margin-right: 0.15rem;
    float: right;
}

.loader {
    background-color: #FFF;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: fixed;
}

@-webkit-keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }

    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }

    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }

    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }

    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }

    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }

    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

.ball-triangle-path {
    position: relative;
    -webkit-transform: translate(-25px, -25px);
    -ms-transform: translate(-25px, -25px);
    transform: translate(-25px, -25px);
}

.ball-triangle-path > div:nth-child(1) {
    -webkit-animation-name: ball-triangle-path-1;
    animation-name: ball-triangle-path-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(2) {
    -webkit-animation-name: ball-triangle-path-2;
    animation-name: ball-triangle-path-2;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(3) {
    -webkit-animation-name: ball-triangle-path-3;
    animation-name: ball-triangle-path-3;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    background-color: #5d5d5d;
    border-radius: 100%;
    border: 1px solid #5d5d5d;
}

.ball-triangle-path > div:nth-of-type(1) {
    top: 50px;
}

.ball-triangle-path > div:nth-of-type(2) {
    left: 25px;
}

.ball-triangle-path > div:nth-of-type(3) {
    top: 50px;
    left: 50px;
}