<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
    <div class="personal-box border-shadow" id="type">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-bookmark"></span>
            <span class="title-text">分类管理</span>
            <div class="article-btn-group">
                <div class="btn-group">
                    <a ng-click="open('md',true,false)"  class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a href="#/back/tag" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="hidden-xs">前往标签管理</span>
                    </a>
                </div>
            </div>
        </h2>

        <div class="col-xs-12 table-responsive">
            <table class="table table-striped table-style">
                <thead>
                <tr>
                    <th>#</th>
                    <th>类别名称</th>
                    <th>文章总数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="type in typetags">
                    <td>{{$index+1}}</td>
                    <td>{{type.name}}</td>
                    <td>{{type.count}}</td>
                    <td>{{type.date}}</td>
                    <td>
                        <button class="btn btn-info article-list-btn" ng-click="open('md',true);">
                            <span class="glyphicon glyphicon-pencil "></span>
                        </button>
                        <button class="btn btn-danger article-list-btn" ng-click="delete(type.id);">
                            <span class="glyphicon glyphicon glyphicon-trash "></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>