<div class="col-md-offset-2 col-md-8  ">
    <div class="personal-box border-shadow">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-paperclip"></span>
            个人资料
        </h2>

        <div class="col-xs-12" >
            <div class="info-box">
                <div class="info-box-top">
                    <div class="form-group">
                        <label for="name">登录账号/login account</label>
                        <input type="text" readonly class="form-control" id="loginId" name="loginId" ng-model="user.loginId" placeholder="登录账号/login account">
                    </div>
                    <div class="form-group">
                        <label for="name">昵称/name</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="user.name" placeholder="名称/name">
                    </div>
                    <div class="form-group">
                        <label for="position">职位/position</label>
                        <input type="text" class="form-control" id="position" ng-model="user.position" placeholder="职位/position">
                    </div>
                </div>
                <div>
                    <img ng-src="{{user.headImg}}" class="user-img"/>
                    <form enctype="multipart/form-data" id="personal_form">
                        <input type="file" class="user-img upload-btn" id="headImg" name="headImg" accept="image/*" onchange="angular.element(this).scope().uploadHeadImg()">
                    </form>
                </div>
                <div class="form-group">
                    <label for="signature">个性签名/personalized signature</label>
                    <input type="text" class="form-control" id="signature" ng-model="user.signature"
                           placeholder="个性签名/personalized signature">
                </div>
                <div class="form-group fix-float ">
                    <label class="col-xs-12 fix-tag">标签/label：</label>

                    <div class="col-xs-4 fix-tag" ng-repeat="item in user.label">
                        <input class="form-control  " type="text" name="tag1" placeholder="标签1/label 1" ng-model="user.label[$index]"/>
                    </div>

                </div>
                <div class="form-group">
                    <label for="introduce">自我介绍/Introduce Myself</label>
                            <textarea id="introduce" class="form-control" rows="9" ng-model="user.introduce"
                                      placeholder="自我介绍/Introduce Myself"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="saveOrUpdate();">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="personal-box border-shadow">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-lock"></span>
            修改密码
        </h2>

        <form role="form " class="col-xs-12">
            <div class="info-box">
                <div class="info-box-top">
                    <div class="form-group">
                        <label for="oldPw">原密码/old password</label>
                        <input type="password" class="form-control" id="oldPw" name="oldPw" ng-model="oldPw" placeholder="原密码/old password">
                    </div>
                    <div class="form-group">
                        <label for="newPw">新密码/new password</label>
                        <input type="password" class="form-control" id="newPw" name="newPw" ng-model="newPw" placeholder="新密码/new password">
                    </div>
                    <div class="form-group">
                        <label for="rNewPw">重复新密码/repeat new password</label>
                        <input type="password" class="form-control" id="rNewPw" name="rNewPw" ng-model="rNewPw"
                               placeholder="重复新密码/repeat new password">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="updatePwd();">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>