<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
    <div class="personal-box border-shadow" id="type">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-comment"></span>
            <span class="title-text">评论管理</span>
        </h2>
        <div class="search-bar">
            <form class="form-inline" role="form">
                <div class="form-group col-md-4">
                    <label  for="name">昵称：</label>
                    <input type="text" class="form-control" id="name" placeholder="输入昵称">
                </div>
                <div class="form-group col-md-5">
                    <label  for="title">文章标题：</label>
                    <input class="form-control" type="text" id="title" placeholder="输入文章标题">
                </div>
                <div class="form-group col-md-3">
                    <label  for="isReplay">是否回复：</label>
                    <select id="isReplay" class="form-control">
                        <option>全部</option>
                        <option>已回复</option>
                        <option>未回复</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="comment-box">
            <div class="comment">
                <h3>
                    原文：ECMSCript6浅析
                    <button class="btn btn-danger article-list-btn comment-btn">
                        <span class="glyphicon  glyphicon-trash "></span>
                    </button>
                </h3>
                <p>好好好好好好好好好好好好好好好好好好好好好好好好好好好好好好</p>
                <div>
                    <span>来自：</span>
                    <span>xxx</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>1234567890@qq.com</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>http:xxxx.com</span>
                    <div class="replay-box">
                        <span>是否回复：</span>
                        <span>已回复</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <h3>
                    原文：ECMSCript6浅析
                    <button class="btn btn-danger article-list-btn comment-btn">
                        <span class="glyphicon  glyphicon-trash "></span>
                    </button>
                </h3>
                <p>
                    好好好好好好好好好好好好好好好好好好好好好好好好好好好好好好
                    好好好好好好好好好好好好好好好好好好好好好好好好好好好好好好
                </p>
                <div>
                    <span>来自：</span>
                    <span>xxx</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>1234567890@qq.com</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>http:xxxx.com</span>
                    <div class="replay-box">
                        <span>是否回复：</span>
                        <span>已回复</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>