<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
    <div class="personal-box border-shadow" id="type">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-comment"></span>
            <span class="title-text">评论管理</span>
        </h2>
        <div class="search-bar">
            <form class="form-inline" role="form">
                <div class="form-group col-md-4">
                    <label  for="name">昵称：</label>
                    <input type="text" class="form-control" ng-model="search.visitor.name" id="name" placeholder="输入昵称">
                </div>
                <div class="form-group col-md-4">
                    <label  for="title">标题：</label>
                    <input class="form-control" type="text" ng-model="search.article.title" id="title" placeholder="输入文章标题">
                </div>
                <div class="form-group col-md-4">
                    <label  for="content">内容：</label>
                    <input class="form-control" type="text" ng-model="search.content" id="content" placeholder="输入评论内容">
                </div>
            </form>
        </div>
        <div class="comment-box">
            <div class="comment" ng-repeat="comment in comments | filter:search">
                <h3>
                    原文：<a href="#article/{{comment.article.id}}">{{comment.article.title}}</a>
                    <button class="btn btn-danger article-list-btn comment-btn" ng-click="delete(comment.id);">
                        <span class="glyphicon  glyphicon-trash "></span>
                    </button>
                </h3>
                <div class="msg-reference" ng-show="comment.quotes" >
                    <p>引用{{comment.quotes.name}}的留言：</p>

                    <p class="leave-msg-content">
                        {{comment.quotes.content}}
                    </p>
                </div>
                <p>{{comment.content}}</p>
                <div>
                    <span>来自：</span>
                    <span>{{comment.visitor.name}}</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span>{{comment.visitor.email}}</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span><a href="{{comment.visitor.index}}">{{comment.visitor.index}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>