<div class="col-md-offset-1 col-md-10  ">
    <div class="personal-box border-shadow">
        <h2 class="personal-box-title">
            <span class="glyphicon glyphicon-th"></span>
            <span class="title-text">文章编辑</span>
            <a href="javascript: history.back();" class="btn btn-danger article-btn-add">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </h2>

        <form class="col-xs-12">
            <div class="form-group col-md-12">
                <label for="title">文字标题/title</label>
                <input autofocus type="text" class="form-control" id="title" ng-model="article.title" placeholder="文字标题/title">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="type">分类/type</label>
                    <select class="form-control" id="type" ng-model="article.type" >
                        <option value="" disabled selected hidden>分类/type</option>
                        <option ng-repeat="type in data | filter:{'type':'true'} " value="{{type.name}}">
                            {{type.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="publicTime">发布时间/public time</label>

                    <div class="input-group">
                        <input type="text" class="form-control" id="publicTime" ng-model="article.date"
                               placeholder="发布时间/public time ">

                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tag">标签/tag</label>

                    <ui-select id="tag" multiple tagging tagging-label="(custom 'new' label)" ng-model="article.tag">
                        <ui-select-match placeholder="标签/tag">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="tag in data | filter:{'type':'false'} | filter:$select.search">
                            {{tag.name}}
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="abstract">摘要/abstract</label>
                    <textarea rows="4" class="form-control" id="abstract" ng-model="article.abstract" placeholder="摘要/abstract"></textarea>
                </div>
            </div>
            <div class="article-btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-click="publish(2);">
                        <span class="glyphicon glyphicon-upload"></span>
                        发布
                    </button>
                    <button type="button" class="btn btn-info" ng-click="publish(1);">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        保存草稿
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete(0);">
                        <span class="glyphicon  glyphicon-trash"></span>
                        删除
                    </button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-12 fix-tag">正文：</label>

                <div id="test-editormd">
                    <textarea style="display: none" ></textarea>
                </div>
            </div>
        </form>
    </div>
</div>