<div class="col-md-offset-1 col-sm-12 col-md-6 ease1">
    <ol class="breadcrumb blog-nav border-shadow about-msg">
        <li><a href="/">首页</a></li>
        <li><a href="#/index">博客主页</a></li>
        <li><a href="#/article/0">文章</a></li>
        <li><a href="#/type/0">分类</a></li>
    </ol>
    <div class="new-article-box type-title border-shadow">
        <p class="about-msg"><span>类别：{{firstTypeName}}</span>&nbsp;→&nbsp;<span></span>共有{{typeDetail.count}}篇文章</p>
    </div>
    <div class="type-article-list border-shadow" ng-repeat="detail in typeDetail.detail">
        <h2>{{detail.year}}</h2>
        <ul class="about-msg ulist">
            <li ng-repeat="article in detail.articleList">
                <span><a href="#/article/{{article.id}}">{{article.title}}</a></span>
                <span>&nbsp;→&nbsp;</span>
                <span>{{article.date}}</span>
            </li>
        </ul>
    </div>
</div>
<nav class="col-sm-12 col-md-4     left-bar ">
    <div class="left-box  col-sm-5 col-md-offset-1 col-md-10    ">
        <div class="left-box-title ">
            <span>分类.</span>
        </div>
        <ul class="ulist">
            <li ng-repeat="type in types">
                <a href="#/type/{{type.id}}">{{type.name}}</a>
            </li>
        </ul>
    </div>
    <div class="left-box  col-sm-5 col-md-offset-1 col-md-10    ">
        <div class="left-box-title ">
            <span>标签.</span>
        </div>
        <div class="tag-list">
            <span class="btn btn-info tag" ng-repeat="tag in tags">
                <a ng-click="displayTagArticle(tag);">{{tag.name}}</a>
            </span>
        </div>
    </div>
    <div class="left-box col-sm-offset-2 col-sm-5 col-md-offset-1 col-md-10   ">
        <div class="left-box-title">关于.</div>
        <img class="img-head" ng-src="{{myself.headImg}}">
        <div class="msg-box">
            <p class="about-msg-sm">
                {{myself.position}}
            </p>
            <p class="about-msg-ss">
                {{myself.introduce}}
            </p>
        </div>

        <h4 class="about-msg-xl">follow me:</h4>
        <ul class="ulist">
            <li ng-repeat="follow in myself.follow">
                <a href="{{follow.url}}" target="_blank">{{follow.name}}</a>
            </li>
            <!--<li><a href="#">github</a>&nbsp;&nbsp;&nbsp;<a href="#">微博</a></li>-->
        </ul>
    </div>
</nav>