<article class="col-md-offset-2 col-md-8  ">
    <ol class="breadcrumb blog-nav border-shadow about-msg">
        <li><a href="/">首页</a></li>
        <li><a href="#/index">博客主页</a></li>
        <li><a href="#/article/0">文章</a></li>
        <li><a href="#/type/0">分类</a></li>
    </ol>
    <div class="new-article-box  border-shadow about-msg article-type-header">
        <div class="col-sm-12 col-md-4">
            <span>上一篇：</span>
            <a href="#/article/{{article.pre.id}}" ng-show="article.pre.title">{{article.pre.title||"没有了"}}</a>
        </div>
        <div class="col-sm-12 col-md-4"><span>类别：{{article.type}}</span></div>
        <div class="col-sm-12 col-md-4">
            <span>下一篇：</span>
            <a href="#/article/{{article.next.id}}" ng-show="article.next.title">{{article.next.title||"没有了"}}</a>
        </div>
    </div>
    <section>
        <div class="new-article-box border-shadow">
            <h2 class="article-box-title">
                {{article.title}}
            </h2>
            <h4> 摘要：{{article.abstract}}</h4>

            <h4 class="about-msg">
                发表于：<span>fishelly.</span>&nbsp;&nbsp;→&nbsp;&nbsp;<span>{{article.date}}</span>
            </h4>
            <div class="about-msg article-detail" data-ng-bind-html="article.articleHtml">
            </div>
        </div>
        <div class="new-article-box border-shadow">
            <h4>文章信息</h4>

            <div class="article-msg-box">
                <ul class="ulist">
                    <!--<li><span>版权声明：</span><span>自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</span></li>-->
                    <li><span>发表日期：</span><span>{{article.date}}</span></li>
                    <li><span>更多内容：</span><span><a href="#/index">首页</a>&nbsp;→&nbsp;<a href="#/type/0">查看所有类别</a></span></li>
                    <li><span>关注：</span><span><a href="https://github.com/FiShelly">Github</a></span></li>
                </ul>
            </div>
        </div>
        <div class="new-article-box border-shadow">
            <h4>相关文章</h4>
            <ul class="about-msg ulist">
                <li ng-repeat="article in aboutArticle" class="relative-article">
                    <span><a href="#/article/{{article.id}}">{{article.title}}</a></span>
                    <span>&nbsp;→&nbsp;</span>
                    <span>{{article.date}}</span>

                    <!--<p class="about-msg ">-->
                        <!--xxxxxasdasdasdas-->
                    <!--</p>-->
                </li>
            </ul>
        </div>
        <div class="type-article-list border-shadow">
            <h2>留言（{{comments.length}}条）</h2>

            <div class="about-msg leave-msg-item" ng-repeat="comment in comments">
                <p><a href="{{comment.visitor.index}}"><span>{{comment.visitor.name}}</span>说：</a></p>
                <div class="msg-reference" ng-show="comment.quotes" >
                    <p>引用{{comment.quotes.name}}的留言：</p>

                    <p class="leave-msg-content">
                        {{comment.quotes.content}}
                    </p>
                </div>
                <p class="leave-msg-content">
                    {{comment.content}}
                </p>

                <p class="leave-msg-other">
                    <span>{{comment.date}}</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>{{$index+1}}</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span><a href="" ng-click="quote(comment);">引用</a></span>
                </p>
            </div>

            <div class="public-msg">
                <h2>发表留言</h2>

                <form role="form" ng-submit="submitComment();">
                    <div class="form-group comment">
                        <label for="comment">留言内容:</label>
                        <textarea required class="form-control" ng-model="commentContent" id="comment"
                                  placeholder="请输入留言"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="nickname">昵称:</label>
                        <input   type="text" required class="form-control " ng-model="comment.visitor.name" id="nickname"
                               placeholder="请输入留言昵称"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱:</label>
                        <input type="email" class="form-control " ng-model="comment.visitor.email" id="email"
                               placeholder="请输入留言邮箱">
                    </div>
                    <div class="form-group">
                        <label for="userIdx">你的主页:</label>
                        <input type="url" class="form-control " ng-model="comment.visitor.index" id="userIdx"
                               placeholder="请输入你的个人主页">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="remember" name="remember"> 记住个人信息
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">提交留言</button>
                </form>
            </div>

        </div>
    </section>
</article>