<article class="col-sm-12 col-md-7 col-md-offset-1  article-box ease1">

    <div class="new-article-box border-shadow ">
        <h2 class="article-box-title">
            <a href="#/article/{{article.id}}">{{article.title}}</a>
        </h2>

        <div class="article-box-sample">
            <div>
                <p class="about-msg ">{{article.abstract}}</p>
            </div>
            <div>
                <p class="about-msg"><span>→&nbsp;</span><a href="#/article/{{article.id}}">阅读全文</a></p>
            </div>
            <div class="article-box-type about-msg">
                <span>分类:</span><a href="{{article.typeUrl}}">{{article.type}}</a><span>&nbsp;←</span>
            </div>
        </div>
        <div class="article-box-post about-msg">
            发表于：<span>{{article.author}}</span>&nbsp;<span>{{article.date}}</span>
        </div>
    </div>

    <div class="new-article-box border-shadow">
        <h2 class="article-box-title">
            近期文章.
        </h2>
        <ul class="about-msg ulist">
            <li ng-repeat='article in articleList'>
                <span>{{article.date}}</span>
                <span>&nbsp;&nbsp;→&nbsp;&nbsp;</span>
                <a href="#/article/{{article.id}}">{{article.title}}</a>
            </li>

        </ul>

    </div>

</article>
<nav class="col-sm-12  col-md-3   left-bar ">
    <div class="left-box  col-sm-5 col-md-offset-1 col-md-11   col-lg-10 border-shadow">
        <div class="left-box-title ">
            <span>分类.</span>
        </div>
        <ul class="ulist">
            <li ng-repeat="type in types">
                <a href="#/type/{{type.id}}">{{type.name}}</a>
            </li>
        </ul>
    </div>

    <div class="left-box col-sm-offset-2 col-sm-5 col-md-offset-1 col-md-11  col-lg-10 border-shadow">
        <div class="left-box-title">关于.</div>
        <img class="img-head" ng-src="{{myself.headImg}}">
        <p class="about-msg-sm">
            {{myself.position}}
        </p>
        <p class="about-msg-sm">
            {{myself.introduce}}
        </p>

        <p class="about-msg">follow me:</p>
        <ul class="ulist">
            <li ng-repeat="follow in myself.follow">
                <a href="{{follow.url}}" target="_blank">{{follow.name}}</a>
            </li>
            <!--<li><a href="#">github</a>&nbsp;&nbsp;&nbsp;<a href="#">微博</a></li>-->
        </ul>
    </div>
</nav>