<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章详细</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog-index.css">
</head>
<body>
<div class="container-fluid" ng-controller="blogTypeController">
    <div class="row">
        <header>
            <div class="col-md-offset-1 col-md-10 ">
                <h1 class="blog-head-title">
                    Fishelly Idx.
                </h1>
                <form class="form-inline search-box hidden-xs">
                    <div class="form-group  has-feedback">
                        <input type="text" class="form-control" id="search" placeholder="搜索">
                        <label for="search" style="cursor: pointer"><span
                                class="glyphicon glyphicon-search form-control-feedback"></span></label>
                    </div>
                </form>
            </div>
        </header>
        <nav class="left-function col-sm-12 left-function-position ease1">
            <nav class="left-function col-sm-12 left-function-position ease1">
                <div class="normal-nav">
                    <a href="/"><span class="glyphicon glyphicon-home fc-item fc-item-index ease1"></span></a>
                    <a href="/blog"><span class="glyphicon glyphicon-thumbs-up fc-item fc-item-blog ease1"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-file fc-item fc-item-article ease1"></span></a>
                    <a href="/blog/detail/type"><span
                            class="glyphicon glyphicon-list-alt fc-item fc-item-type ease1"></span></a>
                </div>
                <div class="login-nav">
                    <a href="/back/personal"><span class="glyphicon glyphicon-user fc-item fc-item-user ease1"></span></a>
                    <a href="#/back/blog"><span class="glyphicon glyphicon-th fc-item fc-item-articleMan ease1"></span></a>
                    <a href="#/back/type"><span class="glyphicon glyphicon-tags fc-item fc-item-typeMan ease1"></span></a>
                    <a href="#/back/comment"><span class="glyphicon glyphicon-comment fc-item fc-item-comment ease1"></span></a>
                </div>
            </nav>
        </nav>
        <article class="col-md-offset-1 col-md-10 content-box ease1">
            <div class="new-article-box type-title border-shadow about-msg article-type-header">
                <div class="last-article hidden-xs">
                    <span>上一篇</span>
                    <a href="#">文章上</a>
                </div>
                <p class="article-type "><span>类别：</span>{{typeDetail.type}}</p>
                <div class="next-article hidden-xs">
                    <span>上一篇</span>
                    <a href="#">文章下111111111</a>
                </div>
            </div>
            <section>
                <div class="new-article-box border-shadow">
                    <h2 class="article-box-title">
                        {{article.title}}
                    </h2>
                    <div class=" about-msg">
                        发表于：<span>fishelly.</span>&nbsp;&nbsp;→&nbsp;&nbsp;<span>2016-09-20</span>
                    </div>
                    <div class="about-msg article-detail">
                        11111111111
                    </div>
                </div>
                <div class="new-article-box border-shadow">
                    <h4>文章信息</h4>
                    <div class="article-msg-box">
                        <ul>
                            <li><span>版权声明：</span><span>自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</span></li>
                            <li><span>发表日期：</span><span>2016-09-21</span></li>
                            <li><span>更多内容：</span><span><a href="#">首页</a>→<a href="#">类别</a></span></li>
                            <li><span>关注：</span><span><a href="#">Github</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="new-article-box border-shadow">
                    <h4>相关文章</h4>
                    <ul class="about-msg">
                        <li ng-repeat="article in detail.articleList" class="relative-article">
                            <span><a href="{{article.url}}">{{article.title}}</a></span>
                            <span>&nbsp;→&nbsp;</span>
                            <span>{{article.date}}</span>
                            <p class="about-msg ">
                                xxxxxasdasdasdas
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="type-article-list border-shadow">
                    <h2>留言（78条）</h2>
                    <div class="about-msg leave-msg-item">
                        <p><span>fishelly</span>说：</p>
                        <p class="leave-msg-content">惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</p>
                        <p class="leave-msg-other">
                            <span>2016-09-21</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>#</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>引用</span>
                        </p>
                    </div>
                    <div class="about-msg leave-msg-item">
                        <p><span>fishelly</span>说：</p>
                        <p class="leave-msg-content">惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</p>
                        <p class="leave-msg-other">
                            <span>2016-09-21</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>#</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>引用</span>
                        </p>
                    </div>
                    <div class="about-msg leave-msg-item">
                        <p><span>fishelly</span>说：</p>
                        <p class="leave-msg-content">惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</p>
                        <p class="leave-msg-other">
                            <span>2016-09-21</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>#</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>引用</span>
                        </p>
                    </div>
                    <div class="about-msg leave-msg-item">
                        <p><span>fishelly</span>说：</p>
                        <div class="msg-reference">
                            <p>引用xxx的留言：</p>
                            <p class="leave-msg-content">惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</p>
                        </div>
                        <p class="leave-msg-content">惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻惺惺惜惺惺想嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</p>
                        <p class="leave-msg-other">
                            <span>2016-09-21</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>#</span>
                            <span>&nbsp;|&nbsp;</span>
                            <span>引用</span>
                        </p>
                    </div>
                    <div class="public-msg">
                        <h2>发表留言</h2>
                        <form role="form">
                            <div class="form-group comment">
                                <label for="comment">留言内容:</label>
                                <textarea class="form-control " id="comment" placeholder="请输入留言"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="nickname">昵称:</label>
                                <input type="text" class="form-control " id="nickname" placeholder="请输入留言昵称"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱:</label>
                                <input type="text" class="form-control " id="email" placeholder="请输入留言邮箱">
                            </div>
                            <div class="form-group">
                                <label for="userIdx">你的主页:</label>
                                <input type="url" class="form-control " id="userIdx" placeholder="请输入你的个人主页">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 记住个人信息
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">提交留言</button>
                        </form>
                    </div>

                </div>
            </section>
        </article>
    </div>
</div>
</body>
</html>